.marco {
    background: 
                url("https://st2.depositphotos.com/1017986/9013/i/450/depositphotos_90137852-stock-photo-male-student-reading-book-in.jpg") top right no-repeat;
    background-size: 50vw 100vh;
    background-attachment: fixed;
    margin: 0;
    min-height: 93vh;
    /* Para hacer scroll */
    /* min-height: 3000px */
    }
    .left{
    display: block;
   
    justify-content: center;
    padding: 5vw 0px 20px;
    }

    .right{
      display: flex;
      margin: auto;
    }

    .form{
    width: 100%;
    position: relative;
    }

    input{
      width: 100%;
    }